[sshd]
enabled = true
mode = normal
port = ssh
logpath = %(sshd_log)s
backend = systemd
ignoreip = {{ (['127.0.0.1/8', '::1'] + home_stack_admin_cidrs) | join(' ') }}
bantime = {{ home_stack_fail2ban_bantime }}
findtime = {{ home_stack_fail2ban_findtime }}
maxretry = {{ home_stack_fail2ban_maxretry }}
