[defaults]
inventory = ansible/inventories/production/hosts.yml
roles_path = ansible/roles
vars_plugins_enabled = host_group_vars,community.sops.sops
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True

[privilege_escalation]
become_ask_pass = False
